body {
    font-family: "Poppins", sans-serif;
    background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
    color: #ffffff;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-rows: auto 1fr auto;
    height: 100vh;
  }
  
  /* Main dashboard container */
  .dashboard {
    display: grid;
    grid-template-rows: auto 1fr auto;
    height: 100vh;
  }
  
  /* Header Styling */
  header {
    background: rgba(255, 255, 255, 0.1);
    text-align: center;
    padding: 1rem;
    font-size: 1.8rem;
    font-weight: bold;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
  }
  
  /* Main Layout Grid */
  
  main {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    gap: 20px;
    padding: 20px;
    align-items: stretch;
    height: 100%;
    border-style: solid;
  }
  
  section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }
  
  /* Section Titles */
  h2 {
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 15px;
    font: bold;
  }
  
  /* Controls Section */
  .light-icon img {
    width: 50px;
    height: 50px;
    margin: auto;
  }
  .controls,
  .fan-status {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }
  
  .fan-status img {
    width: 100px;
    margin: auto;
  }
  
  .toggle-switch-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    width: 100%;
    border-width: 3px;
    border-style: outset;
    border-color: black;
  }
  
  /* Gauges Section */
  .gauges {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  .gauge-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-grow: 1;
    width: 100%;
    border-width: 3px;
    border-style: outset;
    border-color: black;
  }
  
  .gauge {
    width: 360px;
    height: 360px;
  }
  
  /* Fan Status */
  
  .fan-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-grow: 1;
    width: 100%;
    border-width: 3px;
    border-style: outset;
    border-color: black;
  }
  
  #fan-status {
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 15px;
  }
  
  #fan-icon {
    width: 320px;
    transition: transform 0.3s;
  }
  
  #fan-icon.on {
    transform: rotate(360deg);
    transition: transform 1s linear infinite;
  }
  
  /* Footer */
  footer {
    background: rgba(255, 255, 255, 0.1);
    text-align: center;
    padding: 1rem;
    font-size: 0.9rem;
    color: rgba(255, 255, 255, 0.7);
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
  }
  