<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Smart Home IoT Dashboard</title>
    <script src="{{ url_for('static', filename='js/justgage-1.2.2/raphael-2.1.4.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/justgage-1.2.2/justgage.js') }}"></script>
    <script src="{{ url_for('static', filename='js/dashboardMQTT.js') }}"></script>
    <link rel="stylesheet" target="blank" href="{{ url_for('static', filename='css/dashboard.css') }}">
    <!-- <link rel="stylesheet" href="../static/css/dashboard.css" /> -->
  </head>
  <body>
    <div class="dashboard">
      <!-- Header -->
      <header>
        <h1>Smart Home IoT Dashboard</h1>
      </header>

      <!-- Main Content -->
      <main>
        <!-- Left Panel - Controls -->
        <section class="controls">
          <h2>Controls</h2>
          <div class="toggle-switch-container">
            <p id="led-status">LED Status: {{ led_status }}</p>
            <img
              id="light-icon"
              src="/static/images/dark.png"
              alt="Light Status"
              class="off"
            />
            <span class="toggle-switch-label">Light Status:</span>
            <label class="toggle-switch">
              <input type="checkbox" id="toggle-switch" />
              <span class="slider"></span>
            </label>
          </div>
        </section>

        <!-- Middle Panel - Gauges -->
        <section class="gauges">
          <h2>Sensor Readings</h2>
          <div class="gauge-container">
            <div id="temperature-gauge" class="gauge"></div>
            <div id="humidity-gauge" class="gauge"></div>
            <!-- <div id="luminosity-gauge" class="gauge"></div> -->
          </div>
        </section>

        <!-- Right Panel - Fan Status -->
        <section class="fan-status">
          <h2>Fan Status</h2>
          <div class="fan-container">
            <p id="fan-status">Fan Status: {{ fan_status }}</p>
            <img
              id="fan-icon"
              src="/static/images/FanOff.png"
              alt="Fan Status"
              class="off"
            />
          </div>
        </section>
      </main>

      <!-- Footer -->
      <footer>By: Maxim Rotaru, Karl Alvarado, Mohammed Hosein Ali</footer>
    </div>
  </body>
</html>